.cabeçalho__menu-hamburguer {
    width: 60px;
    height: 50px;
    background-image: url("../img_books/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container__botao:checked~.container__rotulo>.cabeçalho__menu-hamburguer {
    background-image: url(../img_books/menu_black_24dp\ 1.svg);
}

.container__botao:checked~.container__rotulo {
    background: var(--azul-degrade);
}

.cabeçalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 0.3em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
    z-index: 9999;

}

.container__botao:checked~.lista-menu {
    display: block;

}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--laranja);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    background-color: var(--laranja);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.container__botao {
    display: none;
}



.container__titulo {
    display: none;
}

.opções {
    display: none;
}

.container__texto {
    display: none;
}

