@media screen and (min-width: 1024px) {

    .container__titulo,
    .container__titulo-negrito {
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }
    
    .lista-rodape {
        display: block;
    }

    .container__titulo {
        font-weight: 400;
        display: block;
        padding: 0 0.5em;
    }

    .container__titulo-negrito {
        font-weight: 700;
    }

    .opções {
        display: flex;
    }

    .opções__item {
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opções__link {
        text-decoration: none;
        color: var(--preto);
    }

    .container__imagem--transparente {
        display: none;
    }

    .cabeçalho__menu-hamburguer {
        display: none;
    }

    .opções__botao:checked~.lista-menu {
        display: block;
        width: auto;
    }

    .opções__botao {
        display: none;
    }

    .opções__botao:checked~.opções__rotulo>.opções__item {
        background: var(--azul-degrade);
        color: var(--branco);
    }

    .opções__item {
        padding: 2em 1em;
    }

    .lista-menu__item:hover {
        background: var(--azul-degrade);
    }

    .lista-menu__item>.lista-menu__link {
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }

    .banner__titulo {
        font-size: 36px;
    }

    .banner__pesquisa {
        width: 45%;
    }

    .banner__pesquisa::placeholder {
        background-position: 6em;
    }

    .carrossel__titulo {
        font-size: 26px;
    }

    .swiper-pagination {
        margin: 2em 0 3em 0;
    }

    .swiper {
        width: 60%;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: block;
        top: 60%;
    }

    .card {
        width: 40%;
        margin: 2em auto;
    }

    .topicos__titulos {
        font-size: 24px;
        margin-bottom: 0.5em;
    }

    .topicos__link {
        font-size: 24px;
    }

    .contato {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contato__descrição {
        margin-right: 1.5em;
        width: 30%;
    }

    .contato__email {
        width: 30%;
    }

    .contato__titulo {
        font-size: 24px;
    }

    .rodape {
        display: flex;
        justify-content: space-around;
    }

    .lista-rodape__item {
        display: flex;
        align-items: center;
        margin: 0.5em 0;
    }

    .lista-rodape__link {
        color: var(--branco);
        text-decoration: none;
        margin-left: 0.5em;
    }

    .lista-rodape__titulo {
        text-transform: uppercase;
        color: var(--laranja);
        font-size: 14px;
        margin-bottom: 2.5em;
    }

    .rodape__titulo {
        font-size: 24px;
    }
}

@media  screen and (min-width: 1728px) {
    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--laranja);
    }

    .cabeçalho {
        padding: 0em 2em;
    }

    .opções {
        margin-right: auto;
    }

    .container__texto {
        display: block;
    }

    .banner__pesquisa {
        width: 40%;
    }

    .banner__pesquisa::placeholder {
        background-position: 18em;
    }

    .banner {
        padding: 6em 0;
    }

    .carrossel__container {
        display: flex;
        margin: 0 10vw 3em 10vw;
        align-items: center;
    }

    .swiper-pagination {
        margin: 1em 0;
    }

    .swiper {
        width: 50%;
    }

    .descrição__titulo {
        font-size: 32px;
    }

    .descrição__texto {
        font-size: 16px;
    }

    .descrição {
        margin-right: 2em;
    }

    .card {
        width: 60%;
        margin-left: 3em;
    }

    .topicos {
        padding: 3em 30vw;
    }

    .contato {
        padding: 3em 10vw;
    }

    .lista-rodape {
        border-left: 1px solid var(--laranja);
        padding: 1em;
    }

    .rodape {
        padding: 4em 0;
    }
}