.topicos {
    background: var(--azul-degrade);
    text-align: center;
    padding: 1.5em 0;
}

.topicos__titulos {
    color: var(--branco);
    font-weight: 300;
    padding-bottom: 0 0 1.5em;
    text-transform: uppercase;
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos__item {
    background-color: var(--laranja);
    font-size: 14px;
    font-weight: 700;
    margin: 0.5em;
    padding: 1.5em;
}

.topicos__link {
    color: var(--branco);
    text-decoration: none;
}